body {
    background-color: lightblue;
    background-image: url('back.jpg');
}

#map {
    height: 400px;
    width: 800px;
}

#dragAndDrop {
    width: 350px;
    height: 600px;
}

h1 {
    font-family: Impact;
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 35px;
}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
