body {
    background-color: lightblue;
    background-image: url('back.jpg');
}

.droptarget {
    float: right;
    width: 395px;
    height: 35px;
}

#map {
    width: 800px;
    height: 400px;
}

#dragAndDrop {
    width: 395px;
    height: 600px;
}

#response-alert {
    width: auto;
    text-align: center;
    display: none;
}

h1 {
    font-family: Impact;
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 35px;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
